body {
	background-color: rgb(89, 202, 202);
}

h1 {
	color: rgb(26, 6, 6);
}

.Navigation-menu {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	/* or inline-flex */
}

.Navigation-menu li a {
	/* border: 1px red solid; */
	padding: 2px 10px;
	text-decoration: grey;
}
